#footer
{
    bottom: 0;
    position: fixed;
    color:crimson;
    width: 100%;
    background-color: aqua;
    text-align: center;
}

body{
    background-size: cover;
}

.heading
{
    font-size: 35px;
    width: 100%;
    margin: 0px;
}

canvas{
    border:5px solid black;
    margin-top: 50px;
    box-shadow:5px 5px 5px indigo;
}
